<form>
  {{common/form-file-field label="Image" text=book.image}}
  {{common/form-text-field label="Name" text=book.name}}
  {{common/form-text-field label="Author" text=book.author}}
  {{common/form-text-field label="Page Count" text=book.pageCount}}
  {{common/form-text-field label="Link" text=book.link}}
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 offset-md-6 col-8 offset-4 text-right">
        {{common/button-field cssClass="btn btn-danger" cssIconClass="far fa-times-circle" onClick=(action "cancel")}}
        {{common/button-field cssClass="btn btn-success" cssIconClass="fas fa-check" onClick=(action "add")}}
      </div>
    </div>
  </div>
</form>