<div class="col-12 mb-2">
  <div class="row">
    <div class="col-md-4 col-12">
      <h5>Speaker</h5>
      {{#power-select options=speakers selected=selectedSpeaker searchField="fullName" allowClear=true
        triggerClass="form-control" onchange=(action (mut selectedSpeaker)) as |speaker|}}
        <img src={{speaker.avatar}} class="box-icon" alt="Problem loading image..">
        <strong>{{speaker.fullName}}</strong>
      {{/power-select}}
    </div>
    <div class="col-md-4 col-12">
      <h5>Book</h5>
      {{#power-select options=books selected=selectedBook searchField="name" allowClear=true
        triggerClass="form-control" onchange=(action (mut selectedBook)) as |book|}}
        <img src={{book.image}} class="box-icon" alt="Not found..">
        <strong>{{book.name}}</strong><span> {{book.author}}</span>
      {{/power-select}}
    </div>
    <div class="col-md-3 col-12">
      <h5>Date</h5>
      {{common/date-field date=filterDate disabled=false}}
    </div>
    <div class="col-md-1 col-12 text-right mt-auto">
      <button type="button" class="btn btn-primary" onclick={{action "filter"}}>
        <i class="fas fa-filter"></i>
      </button>
    </div>
  </div>
</div>
{{yield this.results}}