<form>
  <div class="form-group">
    <label for="date">Date</label>
    <div class="form-row h-100 justify-content-center align-items-center">
      <div class="col-12">
        {{common/date-field date=report.date}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="speaker">Speaker</label>
    <div class="form-row h-100 justify-content-center align-items-center">
      <div class="col-10">
        {{#power-select options=speakers selected=report.speaker searchField="fullName"
          allowClear=true triggerClass="form-control" onchange=(action (mut report.speaker)) as |speaker|}}
          <img src={{speaker.avatar}} class="box-icon" alt="Problem loading image..">
          <strong>{{speaker.fullName}}</strong>
        {{/power-select}}
      </div>
      <div class="col-2">
        {{common/button-field cssClass="btn btn-secondary" cssIconClass="fas fa-external-link-alt" onClick=addSpeaker}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="book">Book</label>
    <div class="form-row h-100 justify-content-center align-items-center">
      <div class="col-10">
        {{#power-select options=books selected=report.book searchField="name"
          allowClear=true triggerClass="form-control" onchange=(action (mut report.book)) as |book|}}
          <img src={{book.image}} class="box-icon" alt="Not found..">
          <strong>{{book.name}}</strong><span> {{book.author}}</span>
        {{/power-select}}
      </div>
      <div class="col-2">
        {{common/button-field cssClass="btn btn-secondary" cssIconClass="fas fa-external-link-alt" onClick=addBook}}
      </div>
    </div>
  </div>
  {{common/form-text-field label="Review" textarea=true text=report.review}}
  {{common/form-text-field label="Video" text=report.link}}
  {{common/form-file-field label="Presentation" text=report.presentation}}
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 offset-md-6 col-8 offset-4 text-right">
        {{common/button-field cssClass="btn btn-danger" cssIconClass="far fa-times-circle" onClick=(action "cancel")}}
        {{common/button-field cssClass="btn btn-success" cssIconClass="fas fa-check" onClick=(action "add")}}
      </div>
    </div>
  </div>
</form>