<form>
  {{common/form-file-field label="Avatar" text=speaker.avatar}}
  {{common/form-text-field label="Name" text=speaker.name}}
  {{common/form-text-field label="Surname" text=speaker.surname}}
  {{common/form-text-field label="Position" text=speaker.position}}
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 offset-md-6 col-8 offset-4 text-right">
        {{common/button-field cssClass="btn btn-danger" cssIconClass="far fa-times-circle" onClick=(action "cancel")}}
        {{common/button-field cssClass="btn btn-success" cssIconClass="fas fa-check" onClick=(action "add")}}
      </div>
    </div>
  </div>
</form>