<div class="col-xs-12 col-sm-6 col-md-4 mb-2">
  <div class="card">
    {{#if speaker.avatar}}
      <img src={{speaker.avatar}} class="card-img-top" alt="Problem loading image...">
    {{else}}
      <img src="assets/avatar.jpg" class="card-img-top" alt="Problem loading image...">
    {{/if}}
    <div class="card-body">
      <h4 class="card-title"><span class="fullname">{{speaker.fullName}}</span></h4>
      <h6 class="card-subtitle my-3"><span class="position">{{speaker.position}}</span></h6>
      {{#link-to "speakers.edit" speaker.id}}
        <button type="button" class="btn btn-secondary">
          <i class="far fa-edit"></i>
        </button>
      {{/link-to}}
      <button type="button" class="btn btn-danger" onclick={{action "deleteSpeaker" speaker}}>
        <i class="far fa-trash-alt"></i>
      </button>
      {{#if speaker.hasReports}}
        <ul class="list-group mt-3">
          {{#each speaker.reports as |report|}}
            <li class="list-group-item">
              <span>{{report.book.name}}</span>
              <a href={{report.video}} class="btn btn-primary link {{if (not report.hasVideo) "disabled"}}">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>